<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<appSettings>
        <!--<add key="ApacheConfigFileName" value="/etc/apache2/httpd.conf" />-->
		<add key="ApacheConfigFileName" value="/var/calculate/remote/distfiles/egit-src/xmpp.bbs.io.git/etc/apache2/httpd.conf" />
    </appSettings> 
</configuration>
